<script language="javascript">
	so.addParam('flashvars','file=/assets/chariceitaly.flv&autostart=true&skin=/assets/stylish/stylish.swf');
	so.write('theplayer');
</script>
<div id="title"><%= @title %></div>
<div id="indexcontent">
	<div id="indexwelcome">
		<%= image_tag "charice.jpg", :id=>'chariceimg' %>	
		<p>
		In early 2007, a face-off video between Bianca Ryan and a little Asian girl was uploaded by Youtube user FalseVoice. 
		</p>
		<p>
		Most viewers could hardly believe that such a rich, deep and full voice can come from such a small, young body. 
		</p>
		<p>
		What the viewers did not know then was that that little girl was singing not so much for pleasure as to survive; 
		there were times when the only thing keeping her family from starving was her voice.
		</p>
		<p>
		A lot has happened since then; the little girl became a Youtube sensation that led to invitations to Ellen DeGeneres's,
		Paul O'Grady's and Oprah's shows.
		</p>
		<p>This site is all about that little girl whose rise to stardom against the odds continues to inspire.</p>
		<p>Hope you enjoy and thanks for visiting!</p>
		<hr />
		<span style="font-size: 10px;">
		This site is just for demo purposes. Some of the video links don't work; my slug size is already over 91mb and one
		more video and it will be over 100mb :-).
		</span>
	</div>
</div>

