<div id='playerRZVnUFrc'></div>
<script type='text/javascript'>
    jwplayer('playerRZVnUFrc').setup({
        file: 'https://dl.dropboxusercontent.com/u/49292578/charice/allbymyself.flv',
        image: '',
        width: '100%',
        aspectratio: '16:9',
        primary: 'flash'
    });
</script>

<!--
http://www.mediafire.com/watch/ipp6ou91ngd50q2/charicelbs1.flv
http://www.mediafire.com/download/ipp6ou91ngd50q2/charicelbs1.flv
<a href="http://www.mediafire.com/watch/ipp6ou91ngd50q2/charicelbs1.flv" target="_blank">http://www.mediafire.com/watch/ipp6ou91ngd50q2/charicelbs1.flv</a>
http://mfi.re/watch/ipp6ou91ngd50q2/charicelbs1.flv
-->


<!--video controls="controls" height="480" width="640">
<source src="https://dl.dropboxusercontent.com/s/jmkuw3ru0zbkqt9/allbymyself.flv" type="video/mp4"></source>
</video>
https://www.dropbox.com/s/jmkuw3ru0zbkqt9/allbymyself.flv -->
<!--source src="https://dl.dropboxusercontent.com/u/87532981/Ella%20May%20and%20the%20Wishing%20Stone%20By%20Cary%20Fagan.mp4" type="video/mp4"></source-->
